div.menu-space{
  position: fixed;
  background-color: white;
  width: $para*3;
  height: 100%;
  outline: 1px solid blue;
  @include respond-to($c-vp){
    position: fixed;
    transform: none;
    width: 100%;
    //border-bottom: 1px solid blue;
    width: 75%;
    height: $para*4;
    padding-top: $para;
  }
  header#banner{
    transform: rotate(-90deg);
    margin-top: $para*5;
    @include respond-to($c-vp){
      margin-top: 0;
      transform: none;
      position: relative;
      width: auto;
      float: left;
      padding-left: $para*6;
    }
    img.nav-logo{
      width: 13vh;
    }
    h1{
      font-size: 32px;
    }
  }
  nav#menu{
    top: 200px;
    left: 0;
    height: 100vh;
    @include respond-to($c-vp){
      height: auto;
      top: $para;
      position: relative;
      height: auto;
    }
    ul.mainnav{
      //margin-top: 10vh;
      @include respond-to($c-vp){
        margin-top: 0;
        position: relative;
        display: inline-block;
      };
    }
    li{
      margin-top:12vh;
      transform: rotate(-90deg);
      display: inline-block;
      //width: 100px;
      //padding-left: 100px;
      font-size: $eta;
      line-height: $eta + 4px;
      @include respond-to($c-vp){
        transform: none;
        position: relative;
        margin-top: 0;
        margin-left: 75px;
      }
    }
  }
}

div.secondary-nav{
  position: fixed;
  left: 0;
  bottom: 0;
  outline: 1px solid blue;
  float: left;
  width: 100%;
  height: 10vh;
  background-color: white;
  float: left;
  @include respond-to($c-vp){
    position: fixed;
    z-index: -9999;
    padding-top: $para*6;
    bottom: none;
    top: 0;
    width: $para*3;
    height: 100vh;
  }
  nav#secondary-menu{
    bottom: $para;
    ul.second-nav{
      text-align: center;
      li{
        display: inline-block;
        padding: $para;
        font-size: 6px;
        max-width: 10px;
      }
    }
  }
}
