html{
  font-family: ume_p_gothic_balsaregular;
}

@font-face {
    font-family: 'ume_p_gothic_balsaregular';
    src: url('../fonts/ume-p-gothic_balsa-webfont.woff2') format('woff2'),
         url('../fonts/ume-p-gothic_balsa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ume_p_gothic_verticalregular';
    src: url('../fonts/ume-p-gothic-vertical-webfont.woff2') format('woff2'),
         url('../fonts/ume-p-gothic-vertical-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ume_vertical_wideregular';
    src: url('../fonts/ume-vertical-wide-webfont.woff2') format('woff2'),
         url('../fonts/ume-vertical-wide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ume_vertical_wide-bridgeRg';
    src: url('../fonts/ume-vertical-wide-bridge-webfont.woff2') format('woff2'),
         url('../fonts/ume-vertical-wide-bridge-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ume_vertical_wideregular';
    src: url('../fonts/ume-vertical-wide-oblique-webfont.woff2') format('woff2'),
         url('../fonts/ume-vertical-wide-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a{
  text-decoration: none;
  color: black;
}

p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: $para;
}

h1{
  font-size: $alpha;
  font-family: ume_p_gothic_verticalregular;
}

h2{
  font-size: $beta;
  font-family: ume_p_gothic_verticalregular;
}

h3{
  font-size: $gamma;
}

h4{
  font-size: $delta;
}

h5{
  font-size: $epsilon;
}

h6{
  font-size: $zeta;
}
