pelican==3.7.1
markdown>=2,<3
git+https://github.com/aleray/markdown-figures.git

minchin.pelican.plugins.image_process>=1.1.3

html5lib

# Python-Markdown extension to wrap the document logical sections (as implied
# by h1-h6 headings). Makes the collapsed sections easier
mdx_outline
