{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{ article.description }}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{ tag }}" />
  {% endfor %}

{% endblock %}

{% block content %}
<article class="show-detail content">
  <header class="show-detail__header">
    <h1 class="show-detail__title">{{ article.title }}</h1>
      {# author var #}
      {% if article.piece_authors %}
            <h2 class="show-detail__author">{% for author in article.piece_authors %}{% if loop.index > 1 %}/&#8203;{% endif %}{{ author }}{% endfor %}</h2>
      {% else %}
            <h2 class="show-detail__author">{{ article.piece_author }}</h2>
      {% endif %}
    <time>
      {# date var #}
      {% if article.end_date %}
        du {{article.date|strftime('%-d %B %Y') }} au&nbsp;{{article.end_date|strftime('%-d&nbsp;%B&nbsp;%Y')}}
      {% else %}
        le {{article.locale_date}}
      {% endif %}
      {# time var #}
      {% if article.time %}
        <br>à {{article.time}}
      {% endif %}
      {% if article.price %}
        <br>{{article.price}}
      {% endif %}
      {# event type var #}
      {% if article.event_type %}
        <br>{{article.event_type}}
      {% endif %}
      {# reservation var #}
      {% if article.reservation_link %}
      <br><a class="reservation-link" href="{{article.reservation_link}}" style="background: linear-gradient(to right, {{article.color}} 0%, transparent 100%);">Réservation</a>

      {% endif %}
          </time>
      {% if article.key_image_detail_body %}
      <p class="show-detail__image"><img src="/images/{{ article.key_image_detail_body }}" alt="Main image for {{ article.title }}"></p>
      {% endif %}



  </header>

  <div class="show-detail__body-images">
    {% if article.key_image_detail_1 %}
    <p class="show-detail__image-body"><img src="/images/{{ article.key_image_detail_1 }}" alt="Main image for {{ article.title }}"></p>
    {% endif %}
    {% if article.key_image_detail_2 %}
    <p class="show-detail__image-body"><img src="/images/{{ article.key_image_detail_2 }}" alt="Main image for {{ article.title }}"></p>
    {% endif %}
    {% if article.key_image_detail_3 %}
    <p class="show-detail__image-body"><img src="/images/{{ article.key_image_detail_3 }}" alt="Main image for {{ article.title }}"></p>
    {% endif %}
    {% if article.key_image_detail_4 %}
    <p class="show-detail__image-body"><img src="/images/{{ article.key_image_detail_4 }}" alt="Main image for {{ article.title }}"></p>
    {% endif %}
  </div>
  <div class="show-detail__body">
      {{ article.content }}
  </div>
  <div class="photo" style="border:1px solid black; width: 59%;float: left;">
  </div>
</article>

{% endblock %}
