{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{ article.description }}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{ tag }}" />
  {% endfor %}

{% endblock %}

{% block content %}
<article class="show-detail content">
  <header class="show-detail__header" style='background: linear-gradient({{ article.date|strftime('%d') }}deg, {{ article.color }} 0%, transparent 30%) top / 100%, url("/images/damier.png") top / 25px;'>
    <h1 class="show-detail__title">{{ article.title }}</h1>
      {# author var #}
      {% if article.piece_authors %}
            <h2 class="show-detail__author">{% for author in article.piece_authors %}{% if loop.index > 1 %}/&#8203;{% endif %}{{ author }}{% endfor %}</h2>
      {% else %}
            <h2 class="show-detail__author">{{ article.piece_author }}</h2>
      {% endif %}

    <time>
      {# event type var #}
      {% if article.event_type %}
      {{article.event_type}}
      {% endif %}
      <br>{# date var #}
      {% if article.end_date %}
        du {{article.date|strftime('%A %-d %B %Y') }} au&nbsp;{{article.end_date|strftime('%A %-d&nbsp;%B&nbsp;%Y')}}
      {% else %}
        le {{article.locale_date}}
      {% endif %}
      {# time var #}
      {% if article.time %}
        <br>à {{article.time}}
      {% endif %}
      {% if article.price %}
        <br><p class="detail-prix">{{article.price}}</p>
      {% endif %}
      </time>
      {% if article.subhead %}
          <p class="show-detail__subhead">{{ article.subhead }}</p>
      {% endif %}
      {# reservation var #}
      {% if article.reservation_link %}
      <br><a class="reservation-link" href="{{article.reservation_link}}" style="background:  linear-gradient(to top right, {{article.color}} 0%, transparent 70%);">Réservation</a>
      {% endif %}
      {% if article.key_image_detail_body %}
      <p class="show-detail__image"><img src="/images/{{ article.key_image_detail_body }}" alt="Main image for {{ article.title }}"></p>
      {% endif %}



  </header>

  <!--<div class="show-detail__body-images">-->
    <!--{% if article.key_image_detail_1 %}-->
    <!--<p class="show-detail__image-body"><img class="image-process-thumbnail" src="/images/{{ article.key_image_detail_1 }}" alt="Main image for {{ article.title }}" style="outline:1px solid {{article.color}};"></p>-->
    <!--{% endif %}-->
    <!--{% if article.key_video_detail_1 %}-->
    <!--<p class="show-detail__image-body" style="max-width:70px;">-->
        <!--<span class="thumb-overlay"></span>-->
        <!--<iframe src="{{ article.key_video_detail_1 }}" webkitallowfullscreen mozallowfullscreen allowfullscreen style="outline:1px solid {{article.color}}; max-width: 100%;"></iframe>-->
    <!--</p>-->
    <!--{% endif %}-->
  <!--</div>-->
  <div class="show-detail__body">
      <div class="photo"> </div>
      {{ article.content }}
  </div>

</article>

{% endblock %}
