<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1">

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/reset.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
    {% endblock head %}
</head>

<body>
    <header class="main_header">
        <a href="{{ SITEURL }}/"><img class="logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/logo-balsa.svg"></a>

        <nav class="main_nav">
            <ul class="main_menu">
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}

                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages %}
                        <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                    {% endfor %}
                {% endif %}

                {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="main_content">
        {% block content %}{% endblock %}
        {% block sidebar %}
        <section class="show">
            <div class="show__list">
                {% for article in articles %}
                    {% include 'partials/event.html' %}
                {% endfor %}
            </div>

            <div class="show__timeline timeline"></div>
        </section>
        {% endblock %}

    </main>


    <footer class="main_footer">
        <p class="address" translate="no">
            <span>Théâtre La Balsamine</span>
            <span>
                <span>Av. F. Marchal, 1</span>
                <span>1030 Bruxelles</span>
            </span>
            <span>
                <span>Admin: 02 732 96 18</span>
                <span>Rés: 02 735 64 68</span>
            </span>
        </p>

        <!-- <nav> -->
        <!--     <ul class="secondary_menu"> -->
        <!--         <li><a href="#">search</a></li> -->
        <!--         <li><a href="#">facebook</a></li> -->
        <!--         <li><a href="#">map</a></li> -->
        <!--         <li><a href="#">contact info address</a></li> -->
        <!--     </ul> -->
        <!-- </nav> -->
    </footer>

    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-3.2.1.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.mousewheel.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>
</body>
</html>
