<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1">

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/reset.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/perfect-scrollbar.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
    <!-- <link rel="stylesheet" href="http://sorgalla.com/jcarousel/examples/basic/jcarousel.basic.css"> -->
    {% endblock head %}
</head>

<body>
    <header class="main-header">
        <a href="{{ SITEURL }}/"><img class="logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/logo-balsa.svg"></a>

        <nav class="main-nav">
            <ul class="main-menu">
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}

                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages %}
                        <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                    {% endfor %}
                {% endif %}

                {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="main-area">
        <div class="main-content">
        {% block content %}{% endblock %}
        </div>

        {% block sidebar %}
        <section class="schedule">
            <div class="schedule__list">
                {% for article in articles %}
                    {% include 'partials/event.html' %}
                {% endfor %}
            </div>

            <div class="schedule__timeline timeline"></div>
        </section>
        {% endblock %}

    </main>


    <footer class="main-footer">
        <p class="address" translate="no">
            <span>
                <a href="#">
                    <span>Théâtre La Balsamine</span>
                    <span>Av. F. Marchal, 1</span>
                    <span>1030 Bruxelles</span>
                </a>
            </span>
            <span>
                <span>Admin: 02 732 96 18</span>
                <span>Rés: 02 735 64 68</span>
            </span>
        </p>

        <form class="subscribe" action="subscribe.php" method="get">
            <input class="subscribe__email" type="email" placeholder="email" required name="email" value="">
            <input class="subscribe__ok" type="submit" value="Ok">
        </form>

        <nav class="secondary-nav">
            <ul>
                <!-- <li><a href="#">search</a></li> -->
                <li><a href="#">facebook</a></li>
                <!-- <li><a href="#">map</a></li> -->
                <!-- <li><a href="#">contact info address</a></li> -->
            </ul>
        </nav>
    </footer>

    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-2.2.4.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.mousewheel.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.jcarousel.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.mobile-events.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>
</body>
</html>
