h1, h2, h3, h4, h5{
  margin: 0;
}
nav{
  height: 80px;
  background: #4ECDC4; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4ECDC4 , #556270); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4ECDC4 , #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
nav ul {
  display: inline;
}
nav ul h1{
  width: auto;
  float: left;
  margin-right: 20px;
}
nav ul li{
  display: inline;
  list-style-type: none;
}
nav ul li::after{
  content: "・"
}
nav ul li:last-of-type::after{
  content: ""
}
nav ul li:first-of-type::after{
  content: ""
}
nav aside{
  display: inline;
  float: left;
}
div.contain-events{
  width: 400px;
  right: 0px;
  outline: 2px solid blue;
  float: right;
}
div.event{
  width: 100%;
  height: auto;
  max-height: 360px;
  padding: 20px;
}
div.event.one{
  background: #F3904F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F3904F , #3B4371); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F3904F , #3B4371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
div.event.two{
  background: #FFAFBD; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFAFBD , #ffc3a0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFAFBD , #ffc3a0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
div.event.three{
  background: #67B26F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #67B26F , #4ca2cd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #67B26F , #4ca2cd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
date{
  float: right;
}
