{#
<article class="entry">
    <a href="{{ SITEURL }}/{{ article.url }}">
        <div class="timeline-item">
            <header>
                <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
            {% if article.start_date %}<time class="published" datetime="{{ article.start_date }}"> {{ article.start_date|strftime('%d.%m') }} </time>{% endif %}{% if article.end_date %} &rarr; <time class="published" datetime="{{ article.end_date }}"> {{ article.end_date|strftime('%d.%m') }} </time>{% endif %}
            {% if article.time %}<br>{{ article.time }}{% endif %}
            {% if article.image %}<a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}"><img class="listing-header-image" src="/{{ article.image }}"></a>{% endif %}
            <br><a href="#{{article.url}}" class="expand-content">expand content</a>

            <div class="expanded-content" id="#{{article.url}}">
                {{article.content}}
            </div>
        </div>
    </a>
</article>
#}

<article id="{{ article.slug }}" class="schedule__item" style='background: linear-gradient({{ article.date|strftime('%d%m') }}deg, {{ article.color }} 0%, {{ article.color }} 5%, transparent 70%) top / 100%, url("/images/damier.png") top / 0;' data-color="{{ article.color }}">
    <header class="schedule__header">
      <h1 class="schedule__title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
      <p class="schedule__authors">
      {% if article.piece_authors %}
          {% for author in article.piece_authors %}{% if loop.index > 1 %}/&#8203;{% endif %}{{ author }}{% endfor %}
      {% else %}
          {{ article.piece_author }}
      {% endif %}
      </p>

        {% if article.date %}
            <p class="schedule__dates"><time class="start-date" datetime="{{ article.date }}">{{ article.date|strftime('%d.%m') }}</time>
            {% if article.end_date %}
                &rarr; <time class="end-date" datetime="{{ article.end_date }}">{{ article.end_date|strftime('%d.%m') }}</time>
            {% endif %}
            </p>
        {% endif %}

        {% if article.key_image %}
        <p class="schedule__main-image"><img src="/images/{{ article.key_image }}" class="image-process-crisp" alt="Main image for {{ article.title }}"></p>
        {% endif %}
        <!-- {% if article.subhead %}
            <p class="schedule__subhead">{{ article.subhead }}</p>
        {% endif %} -->
<!--
        {% if article.intro %}
        <div class="schedule__intro">
            {{ article.intro }}
        </div>
        {% endif %} -->

        {% if article.intro %}
            <a class="schedule__booking" href="{{ article.reservation_link }}">Réservation</a>
        {% endif %}


        <!-- <p><a href="#{{ article.url }}" class="expand-content">+ En savoir plus</a></p> -->

    </header>
</article>
