/* ==========================================================================
   Custom medias definitions
   ========================================================================== */

@custom-media --mobile only screen and (max-width: 767px);

@custom-media --desktop only screen and (min-width: 768px);





/* ==========================================================================
   Variables
   ========================================================================== */

:root {
    /*--primary-color: #3b1b07;*/
    --primary-color: black;
    --secondary-color: #3b4086;
}




/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'Ume P Gothic Balsa';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-p-gothic_balsa-webfont.woff2') format('woff2'), url('../fonts/ume-p-gothic_balsa-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke Balsa';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke double fat Balsa';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-fat-fat.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke double thin Balsa';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-thin-thin.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke info pratique';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-info-pratique.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke master expanded';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-master-expanded.woff') format('woff');
}
@font-face {
    font-family: 'Ume double stroke master condensed';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-master-condensed.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke master expended fat';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-expended-fat.woff') format('woff');
}
@font-face {
    font-family: 'Ume double stroke affiche saison';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-affiche-saison.woff') format('woff');
}




/* ==========================================================================
   Reset
   ========================================================================== */


html {
    font-size: 16px;
    line-height: 1.375em;
}

body {
    overflow: hidden;

    background-image: url('../imgs/coin-de-boite.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;

    font-family: 'Ume double stroke master condensed';
    font-size: 1em;
    line-height: 1.375em;
}

a {
    text-decoration: inherit;
    color: inherit;
}

em {
  font-family: 'Ume double stroke info pratique';


}

strong {
  font-family: 'Ume double stroke info pratique';
}

dt,
dd {
      display: inline;
}





/* ==========================================================================
   General structure
   ========================================================================== */


/* Main Header
   ========================================================================== */

.main-header {
    position: fixed;
    top: 100vh;
    left: 0;

    box-sizing: border-box;
    width: 100vh;
    height: 42px;
    padding-left: 42px;

    transform: rotate(-90deg);
    transform-origin: top left;
    text-align: right;

    font-size: 14px;
    line-height: 42px;
    direction: rtl;
}

.logo {
    max-height: 34px;
    padding-left: 10px;

    vertical-align: middle;
}

/* mainmenu */

.main-nav,
.main-menu,
.main-menu li { display: inline; }

.main-menu li + li:before { content: '\00B7\00A0'; }





/* Main Footer
   ========================================================================== */

.main-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    box-sizing: border-box;
    height: 42px;

    line-height: 42px;
}

.address {
    display: inline-block;

    box-sizing: border-box;
    width: 100vw;
    padding-right: 5px;

    text-align: right;
    vertical-align: middle;

    font-size: 10px;
    line-height: 1;
}

.address > span { display: block; }

.address > span > span + span::before { content: '\00B7\00A0'; }





/* Main area
   ========================================================================== */

/**
 * The main area of the page is everything but the main header and footer. In
 * other words, this is everything inside the "box".
 */

.main-area {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 42px;
    left: 42px;

    background-size: 15px;
}

@media (--mobile) {
    .main-area {
        overflow-y: hidden;

        font-size: .75em;
        line-height: 1.375em;
    }
}





/* Main content
   ========================================================================== */


@media (--mobile) {
    .main-content {
        position: absolute;
        top: 0;
        right: 30px;
        left: 0;

        overflow: hidden;

        height: 100%;
    }

    .is-swiped .main-content { display: none; }
}

@media (--desktop) {
    .main-content {
        position: absolute;
        top: 0;
        left: 0;

        overflow-y: scroll;
        overflow-y: hidden;

        box-sizing: border-box;
        width: 70%;
        height: 100%;

        background-color: white;
    }
}





/* ==========================================================================
   Schedule
   ========================================================================== */

/**
 * The schedule module is made out has two parts:
 *
 * 1. the list of events;
 * 2. a timeline widget onto which is plotted the dates of the events.
 *
 * Below is the toplevel structure of the module
 *
 *      <section class="schedule">
 *          <div class="schedule__list">...</div>
 *          <div class="schedule__timeline timeline"></div>
 *      </section>
 */


.schedule {
    position: relative;

    background-color: white;
}
.schedule sup,
.schedule sub {
    line-height: 0;
    font-size: 0.75em;
    margin-left: 1px;
}

.schedule sup { vertical-align: 0.3em; }

.schedule sub { vertical-align: -0.3em; }

.schedule__item {
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 2em;

    color: var(--primary-color);

    line-height: 1.3;
}

.schedule__item + .schedule__item { border-top: 2px solid var(--secondary-color); }

.schedule__subhead {
    /*margin-bottom: .4em;*/
    font-family: 'Ume double stroke master expanded';

    font-size: 0.9em;
    line-height: 1.2em;
}

.schedule__dates {
  font-size: 1em;
  border: 1px solid black;
  padding: 2px 8px;
  border-radius: 16px;
}

.schedule__title {
    font-size: 1.5em;
    font-family: 'Ume double stroke info pratique';

}

.schedule__authors {
    /*margin-top: .4em;
    margin-bottom: .4em;*/
    font-family: 'Ume double stroke master expended fat';

}

.schedule__intro {
    padding-left: 2em;
    font-family: 'Ume double stroke master expended fat';
    font-size: 1.5em;
}

.schedule__main-image {
    width: 50%;
    text-align: right;
}

.schedule__main-image img {
    max-width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.schedule__body { display: none; }

.schedule__body:target { display: block; }

.schedule__body p + p,
.schedule__body blockquote + p,
.schedule__body p + blockquote { margin-top: 1em; }

.schedule__body blockquote { padding-left: 2em; }

.schedule__body blockquote footer:before { content: "– "; }

.schedule__body dl {
  margin-top: 1.3em;
  margin-bottom: 0.3em;
    /*padding-left: 25%;*/
}

.schedule__body dd { padding-left: 1em; }

.schedule__timeline {
    top: 0;
    right: 0;

    width: 30px;
    height: calc(100%);
    margin-left: calc(100% - 30px);

    background: linear-gradient(to bottom, var(--primary-color) 0%, grey 100%);
}

@media (--mobile) {
    .schedule {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;
    }

    .is-swiped .schedule { width: 100%; }

    .schedule__list {
        position: absolute;
        top: 0;
        right: 30px;
        left: 0;

        display: none;
        overflow-y: scroll;
        overflow-y: hidden;

        height: 100%;
    }

    .is-swiped .schedule__list { display: block; }

    .schedule__timeline {
        position: absolute;
        top: 0;
        right: 0;

        width: 30px;
        height: 100%;
    }
}

@media (--desktop) {
    .schedule {
        position: absolute;
        top: 0;
        right: 0;

        overflow: hidden;

        box-sizing: border-box;
        width: 30%;
        height: 100%;

        border-left: 2px solid var(--secondary-color);
    }

    .schedule__list {
        position: absolute;
        top: 0;
        right: 80px;
        left: 0;

        overflow-y: scroll;
        overflow-y: hidden;

        height: 100%;

        border-right: 2px solid var(--secondary-color);
    }

    .schedule__timeline {
        position: absolute;
        top: 0;
        right: 0;

        width: 80px;
        height: 100%;
    }
}

/* timeline */

.timeline__year {
    position: absolute;
    top: 0px;
    right: 30px;

    height: 30px;
    padding-right: .5em;

    transform: rotate(-90deg);
    transform-origin: top right;
    text-align: right;

    font-size: 10px;
    line-height: 30px;
}

.timeline__month {
    position: absolute;
    top: 30px;
    right: 30px;

    box-sizing: border-box;
    height: 30px;
    padding-top: 10px;
    padding-right: .5em;

    transform: rotate(-90deg);
    transform-origin: top right;
    text-align: right;

    color: white;
    border-right: 1px solid;

    font-size: 14px;
    line-height: 23px;

    font-family: 'Ume double stroke master expended fat';

}

.timeline__point {
    position: absolute;
    right: 15px;

    display: block;

    width: 10px;
    min-height: 10px;

    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 2px 6px 1px var(--primary-color);
}

.timeline__point:hover { transform: scale(1.5); }

@media (--desktop) {
    .timeline__month {
        right: 80px;

        height: 80px;
        padding-top: 60px;
    }

    .timeline__point { right: 55px; }

    .timeline__point:nth-child(2n+0) { right: 45px; }

    .timeline__point:nth-child(3n+0) { right: 35px; }

    .timeline__point:nth-child(4n+0) { right: 25px; }
}





/* ==========================================================================
   Show detail
   ========================================================================== */


.show-detail__header {
    box-sizing: border-box;
    padding: 1em;

    color: var(--primary-color);
    background-image: url('../imgs/damier.png');
    background-size: 15px;
}

.show-detail__image-body img {
    position: relative;

    float: left;

    max-width: 110px;
}

.show-detail__image img {
    max-width: 100%;

    text-align: center;
}

.show-detail__image-body:last-of-type img { float: none; }

.show-detail__body {
    box-sizing: border-box;
    margin-top: 2em;
    padding: 1rem;
    color: var(--primary-color);
}

.show-detail__body p + p,
.show-detail__body blockquote + p,
.show-detail__body p + blockquote { margin-top: 1em; }

.show-detail__body blockquote { padding-left: 2em; }

.show-detail__body blockquote footer:before { content: "– "; }

.show-detail__body dl {
  margin-top: 1.3em;
  margin-bottom: 0.3em;
    /*padding-left: 25%;*/
}
.show-detail__body h3 + dl {
  margin-top: .8em;
}
.show-detail__body p.production {
  text-indent: 0pt;
  font-family: 'Ume double stroke master expanded';

}

.show-detail__body p.production + p.production {
    margin-top: 0em;

    text-indent: 3em;
}

/*.show-detail__body dd { padding-left: 1em; }*/

@media (--mobile) {
    .show-detail__header { border-bottom: 2px solid; }
}

@media (--desktop) {
    .show-detail__header {
        float: left;

        width: 40%;
        height: 100vh;
        padding: 2rem;
    }

    .show-detail__body {
        float: left;

        width: 60%;
    }
}


/* ==========================================================================
   General pages
   ========================================================================== */


.page-detail { padding: 1em; }

.page-detail { color: var(--primary-color); }

.page-detail dl { column-width: 15em; }

.page-detail dt { font-family: 'Ume double stroke affiche saison'; }

.page-detail dd { break-before: avoid-column; }

.page-detail dd + dt {
  float: left;
}

.page-detail dd { break-inside: avoid-column; }

.page-detail img {
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.page-detail p + p img { margin-left: -3em; }

@media (--mobile) {
    .section2 h2 ~ * { display: none; }

    .section2 h2:target ~ * { display: block; }
}



/* ==========================================================================
   ???
   ========================================================================== */


.content h1 {
    margin-top: 0em;
    margin-bottom: 0.40740741em;
    font-family: 'Ume double stroke info pratique';
    font-size: 3.375em;
    line-height: 1em;
}

.content h2 {
    margin-top: 2em;
    margin-bottom: 0em;
    font-family: 'Ume double stroke info pratique';
    font-size: 1em;
    /*line-height: 1.83333334em;*/
    letter-spacing: 0.03em;
}

.content h3 {
    /*margin-top: 1em;*/
    margin-bottom: 0em;
    font-family: 'Ume double stroke master condensed';
    font-size: 1em;
    /*line-height: 1.83333333em;*/
}

.content h4 {
    margin-top: 1.375em;
    margin-bottom: 0em;

    font-size: 1em;
    line-height: 1.375em;
}

.content h5 {
    margin-top: 1.375em;
    margin-bottom: 0em;

    font-size: 1em;
    line-height: 1.375em;
}

.content a {
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.5em 1em;
}

.show-detail__body p {
    font-size: 1.4em;
    line-height: 1.2em;
}

.show-detail__body p.production {
  font-size: .9em;
      line-height: 1.2em;
}
.show-detail__body .section2 {
  padding-left: 5em;
}
.content p,
.content ul,
.content ol,
.content pre,
.content table,
.content blockquote {
    margin-top: 0em;
    margin-bottom: 0em;
}

.content p + p { text-indent: 3em; }

.content ul ul,
.content ol ol,
.content ul ol,
.content ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}

/* Let's make sure all's aligned */
.content hr {
    margin: -1px 0;

    border: 1px solid;
}

.content a,
.content b,
.content i,
.content strong,
.content em,
.content small,
.content code { line-height: 0; }

.content sub,
.content sup {
    line-height: 0;
    font-size: 0.75em;
    margin-left: 1px;
}

.content sup { vertical-align: 0.45em; }

.content sub { vertical-align: -0.45em; }

.content dt {
  position: relative;
      /*float: left;*/
      margin: 0pt;
      /* padding-right: 4pt; */
      /* padding-left: 2em; */
      font-family: 'Ume double stroke master expanded';
      font-size: .9em;
      border: 1px solid black;
      padding: 2px 8px;
      margin-right: 0px;
      margin-left: 3px;
      border-radius: 16px;
}
.content dt:first-of-type {
  margin-left: 0px;
}

.content dd {
  padding-left: 0em;
  font-family: 'Ume double stroke master expended fat';

}

.content li:before { content: "- "; }

.content pre {
    margin-top: 1em;
    padding: 1em;

    color: black;
    border: 1px solid var(--primary-color);


}

.content a.reservation-link {
    margin: 0.5em 0;
    padding: 1em;
    display: inline-block;
}




/* ==========================================================================
   Slideshow
   ========================================================================== */


.jcarousel {
    position: relative;

    overflow: hidden;

    width: 100%;
}

.jcarousel-inner {
    position: relative;

    width: 10000%;
}

.jcarousel-item {
    float: left;

    width: 1%;
}

.jcarousel-item img { width: 100%; }

.jcarousel-item figcaption {
}

.jcarousel-controls {
    position: absolute;
    top: 50%;

    width: 100%;

    background-color: yellow;
}

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: -15px;

    display: block;

    width: 30px;
    height: 30px;

    text-align: center;
    text-decoration: none;

    color: white;
    background-color: @color;

    font-weight: bold;
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    color: black;
    background-color: aliceblue;
}

.jcarousel-control-prev { left: 10px; }

.jcarousel-control-next { right: 10px; }

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    cursor: default;

    opacity: .5;
}

.nojcarousel-item {
    opacity: 0.5;
    border-bottom: 1px dotted red;
}

.nojcarousel-item.active { opacity: 1; }

.jcarousel-inner a { border: none !important; }
