/* ==========================================================================
   Custom medias definitions
   ========================================================================== */

@custom-media --mobile only screen and (max-width: 767px);

@custom-media --mobile-landscape only screen and (max-width: 767px) and (orientation: landscape);

@custom-media --desktop only screen and (min-width: 768px);

/* COLM PROPOSAL

@custom-media --mobile only screen and (max-width: 320px);

@custom-media --mobile-landscape only screen and (max-width: 767px) and (orientation: landscape);

@custom-media --tablet only screen and (max-width: 600px);

@custom-media --laptop only screen and (max-width: 1100px);

@custom-media --desktop only screen and (max-width: 1500px);

*/



/* ==========================================================================
   Variables
   ========================================================================== */

:root {
    --primary-color: black;
    --secondary-color: #3b4086;
    --tertiary-color: #3b1b07;
    --pink-color: #ff546d;
    --blue-color: #3b4086;
    --yellow-color: #fce761;
}





/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'Ume P Gothic Balsa';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-p-gothic_balsa-webfont.woff2') format('woff2'), url('../fonts/ume-p-gothic_balsa-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke Balsa';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke double fat Balsa';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-fat-fat.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke double thin Balsa';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-thin-thin.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke info pratique';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-info-pratique.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke master expanded';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-master-expanded.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke master condensed';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-master-condensed.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke master expended fat';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-expended-fat.woff') format('woff');
}

@font-face {
    font-family: 'Ume double stroke affiche saison';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ume-stroke-stroke-affiche-saison.woff') format('woff');
}

.cadra {
    float: left;

    width: auto;
}

.cadra svg {
    overflow: visible;

    width: auto;
    height: 100%;
    margin-bottom: 100px;
}


/* ==========================================================================
   Reset
   ========================================================================== */


html {
    font-size: 16px;
    line-height: 1.375em;
}

body {
    overflow: hidden;

    /*  FIXME: Move away from the reset section */
    background-image: url('../imgs/coin-de-boite-bas-gauche.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    /* <<<<<<<<< */

    font-family: 'Ume double stroke master condensed';
    font-size: 1em;
    line-height: 1.375em;
}

a {
    text-decoration: underline;

    color: inherit;
    /*  FIXME: should the links be all pink? If not, ake it more specific */
    text-decoration-color: var(--pink-color);
}

a:hover {
    /* border-radius: 1em; */
    /* box-shadow: 3px 2px 6px 1px var(--primary-color);*/
    /* background-color: white; */
    color: var(--pink-color);
}


em { font-family: 'Ume double stroke info pratique'; }

strong { font-family: 'Ume double stroke info pratique'; }

dt,
dd { display: inline; }

hr {
    height: 1.375em;

    border: 0;
}

hr + hr { border-top: 1px solid var(--primary-color); }



/* ==========================================================================
   General structure
   ========================================================================== */


/* Main Header
   ========================================================================== */

.main-header {
    position: fixed;
    top: 100vh;
    left: 0;

    box-sizing: border-box;
    width: 100vh;
    height: 42px;
    padding-left: 42px;

    transform: rotate(-90deg);
    transform-origin: top left;
    text-align: right;

    font-size: 14px;
    line-height: 42px;
    direction: rtl;
}

.logo {
    max-height: 34px;
    padding-left: 10px;

    vertical-align: middle;
}

/* main menu */

.main-nav,
.main-menu,
.main-menu li { display: inline; }

.main-menu li + li:before { content: '\00B7\00A0'; }

.main-menu a {
    padding: 0.25em 0.5em;
    text-decoration: none;
}

.main-menu a:hover {
    position: relative;
    z-index: 1000;
    border-radius: 1em;
    background-color: white;
    box-shadow: 3px 2px 6px 1px var(--primary-color);
}




/* Main Footer
   ========================================================================== */

.main-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    box-sizing: border-box;
    height: 42px;

    text-align: right;

    line-height: 42px;
}

.address {
    display: inline-block;

    box-sizing: border-box;
    padding-right: 5px;

    vertical-align: middle;

    font-size: 11px;
    line-height: 1;
}

.address > span { display: block; }

.address > span + span:before { content: " — "; }

.address > span span + span::before { content: '\00B7\00A0'; }

@media (--desktop) {
    .main-footer {
        font-size: 14px;
        line-height: 42px;
    }

    .address {
        font-size: inherit;
        line-height: inherit;
    }

    .address > span { display: inline; }
}

.subscribe { display: inline-block; }

.subscribe__email {
    width: 15em;
    padding: 4px;

    color: inherit;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;

    font-family: inherit;
}

.subscribe__email:focus {
    color: white;
    outline: none;
    background-color: var(--secondary-color);
}

.subscribe__ok {
    padding: 4px;

    color: inherit;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    background-color: transparent;

    font-family: inherit;
}

.subscribe__ok:focus {
    color: white;
    outline: none;
    background-color: var(--secondary-color);
}

.secondary-nav { display: none; }

@media (--mobile-landscape) {
    /* FIXME: remove that rule and fix the layout */
    .subscribe { display: none; }
}






/* Main area
   ========================================================================== */

/**
 * The main area of the page is everything but the main header and footer. In
 * other words, this is everything inside the "box".
 */

.main-area {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 42px;
    left: 42px;

    border-bottom: 2px solid var(--secondary-color);
    border-left: 2px solid var(--secondary-color);
    background-size: 15px;
}

@media (--mobile) {
    .main-area {
        overflow-y: hidden;

        font-size: .75em;
        line-height: 1.375em;
    }
}

@media (--mobile-landscape) {
    body {
        background-image: url('../imgs/coin-de-boite-haut-gauche.svg');
        background-position: top left;
    }

    .main-area { border-top: 2px solid var(--secondary-color); }

    .main-header {
        top: 0;
        left: 0;

        width: 100vw;

        transform: rotate(0deg);
    }

    .main-footer {
        position: fixed;
        top: 100vh;
        left: 0;

        width: 100vh;

        transform: rotate(-90deg);
        transform-origin: top left;
    }

    .address {
        width: 100vh;
        padding-left: 5px;

        text-align: left;
        vertical-align: middle;
    }

    .main-area {
        top: 42px;
        bottom: 0;
    }
}





/* Main content
   ========================================================================== */


@media (--mobile) {
    .main-content {
        position: absolute;
        top: 0;
        right: 30px;
        left: 0;

        overflow: hidden;

        height: 100%;
    }

    .is-swiped .main-content { display: none; }
}

@media (--desktop) {
    .main-content {
        position: absolute;
        top: 0;
        left: 0;

        overflow-y: scroll;

        box-sizing: border-box;
        width: calc(100% - 500px);
        height: 100%;

        background-color: white;
    }
}





/* ==========================================================================
   Schedule
   ========================================================================== */

/**
 * The schedule module is made out has two parts:
 *
 * 1. the list of events;
 * 2. a timeline widget onto which is plotted the dates of the events.
 *
 * Below is the toplevel structure of the module
 *
 *      <section class="schedule">
 *          <div class="schedule__list">...</div>
 *          <div class="schedule__timeline timeline"></div>
 *      </section>
 */


.schedule {
    position: relative;

    background-color: white;
}

.schedule sup,
.schedule sub {
    margin-left: 1px;

    font-size: 0.75em;
    line-height: 0;
}

.schedule sup { vertical-align: 0.3em; }

.schedule sub { vertical-align: -0.3em; }

.schedule__item {
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 2em;

    color: var(--primary-color);

    line-height: 1.3;
}

.schedule__item:target {
    /* FIXME: !important should not be used */
    background-size: 100% 100%, 10px !important;
}

.schedule__dates {
    display: inline;
    float: right;

    margin-top: 12pt;
    padding: 2px 8px;

    border-right: 2px solid black;
    border-left: 2px solid black;
    /*border-radius: 16px;*/
    /*background-color: white;*/
    font-size: 1em;
}

.schedule__title {
    font-family: 'Ume double stroke info pratique';
    font-size: 1.5em;
    line-height: 1.1em;
}

.schedule__title a {
    margin-left: -0.5em;
    padding: 0.25em 0.5em;

    text-decoration: none;
}

.schedule__authors {
    /*margin-top: .4em;
    margin-bottom: .4em;*/
    font-family: 'Ume double stroke master expended fat';
    line-height: 1em;
}

.schedule__intro {
    padding-left: 2em;

    font-family: 'Ume double stroke master expended fat';
    font-size: 1.5em;
}

.schedule__main-image {
    width: 50%;

    text-align: right;
}

.schedule__main-image img {
    max-width: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
}

.schedule__booking {
    padding: 0.2em 1em;

    text-decoration: none;

    border-radius: 16px;
    box-shadow: 3px 2px 6px 1px var(--primary-color);
}

.schedule__booking:hover { background-color: white; }

/*  FIXME: move to the pages itself */

#lecole-des-maitres-2017  .schedule__main-image {
    width: 90%;
    max-width: 200%;
    /*float: right;
  position: relative;*/
}

#lecole-des-maitres-2017  .schedule__main-image img {
    max-width: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0px;
}

#lecole-des-maitres-2017 .schedule__subhead { margin-top: 56px; }

#les-oracles .schedule__main-image img { padding-left: 81px; }

#up-pen-down .schedule__main-image {
    width: 53%;
    margin-top: 5pt;
    margin-left: 27pt;
}

#la-lettre-volee .schedule__main-image {
    width: 75%;
    margin-top: 33pt;
    margin-bottom: 19pt;
    margin-left: -6pt;
}

#should-i-stay-or-should-i-stay .schedule__main-image { width: 100%; }

#les-lundis-en-coulisse .schedule__main-image {
    width: 33%;
    margin-left: 61pt;
    padding-top: 8pt;
}

#les-fortunes-de-la-viande .schedule__main-image {
    width: 117%;
    max-width: 150%;
    margin-left: -26pt;
}

#scripta-manent .schedule__main-image {
    width: 40%;
    margin-left: 53pt;
}

#i-clit .schedule__main-image { width: 85%; }

#etna .schedule__main-image {
    width: 60%;
    margin-left: 60pt;
}

#les-loups .schedule__main-image {
    width: 69%;
    margin-left: -26pt;
}

#trilogie-de-rome .schedule__main-image { width: 100%; }

#kunstenfestivaldesarts { padding-bottom: 17%; }

/* <<<<<<<<< */

.schedule__timeline {
    top: 0;
    right: 0;

    width: 30px;
    height: calc(100%);
    margin-left: calc(100% - 30px);

    background: linear-gradient(to bottom, var(--primary-color) 0%, grey 100%);
}

@media (--mobile) {
    .schedule {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;
    }

    .is-swiped .schedule { width: 100%; }

    .schedule__list {
        position: absolute;
        top: 0;
        right: 30px;
        left: 0;

        display: none;
        overflow-x: hidden;
        overflow-y: scroll;

        height: 100%;
    }

    .is-swiped .schedule__list { display: block; }

    .schedule__timeline {
        position: absolute;
        top: 0;
        right: 0;

        width: 30px;
        height: 100%;
    }
}

@media (--desktop) {
    .schedule {
        position: absolute;
        top: 0;
        right: 0;

        overflow: hidden;

        box-sizing: border-box;
        width: 500px;
        height: 100%;
    }

    .schedule__list {
        position: absolute;
        top: 0;
        right: 80px;
        left: 0;

        overflow-y: scroll;
        /*overflow-y: hidden;*/

        height: 100%;
    }

    .schedule__timeline {
        position: absolute;
        top: 0;
        right: 0;

        width: 80px;
        height: 100%;
    }
}

/* timeline */

.timeline__year {
    position: absolute;
    top: 0px;
    right: 30px;

    height: 30px;
    padding-right: .5em;

    transform: rotate(-90deg);
    transform-origin: top right;
    text-align: right;

    font-size: 10px;
    line-height: 30px;
}

.timeline__month {
    position: absolute;
    top: 30px;
    right: 30px;

    box-sizing: border-box;
    height: 30px;
    padding-top: 10px;
    padding-right: .5em;

    transform: rotate(-90deg);
    transform-origin: top right;
    text-align: right;

    color: white;
    border-right: 1px solid;

    font-family: 'Ume double stroke master expended fat';
    font-size: 14px;
    line-height: 23px;
}

.timeline__point {
    position: absolute;
    right: 15px;

    display: block;

    width: 10px;
    min-height: 10px;

    border-radius: 5px;
    background-color: white;
    background-size: 10px;
    box-shadow: 3px 2px 6px 1px var(--primary-color);
}

.timeline__point:hover { transform: scale(1.5); }

@media (--desktop) {
    .timeline__month {
        right: 80px;

        height: 80px;
        padding-top: 60px;
    }

    .timeline__point { right: 55px; }

    .timeline__point:nth-child(2n+0) { right: 45px; }

    .timeline__point:nth-child(3n+0) { right: 35px; }

    .timeline__point:nth-child(4n+0) { right: 25px; }
}





/* ==========================================================================
   Show detail
   ========================================================================== */


.show-detail__header {
    box-sizing: border-box;
    padding: 1em;

    color: var(--primary-color);
    /*background-image: url('../imgs/damier.png');*/
    background-size: 25px;
}

/*  FIXME: decide what to do with `.content` */
/*  FIXME: re-order rules */

.content .show-detail__header h1 { margin-bottom: 0em; }

.content .show-detail__header .translations a {
  border: 1px solid black;
}

.content .show-detail__header h2 {
    margin-top: 0.1em;
    margin-bottom: 0em;

    font-size: 1.9em;
    line-height: 1.25em;
}

.content .show-detail__header time {
    display: block;

    margin-left: 0em;
    padding-left: 2.5em;

    letter-spacing: 0.03em;

    font-family: 'Ume double stroke info pratique';
    font-size: 1.3em;
    line-height: 1.25em;
}

.content p.detail-prix {
    font-family: 'Ume double stroke master condensed';
    font-size: 12pt;
    line-height: 1.1em;
}

.content p.show-detail__subhead {
    margin-top: 12pt;

    letter-spacing: 0.04em;

    font-family: 'Ume double stroke info pratique';
    font-size: 10.5pt;
    line-height: 1.3em;
}

.show-detail__image img {
    max-width: 100%;

    text-align: center;
}

.show-detail__body-images {
    float: left;

    box-sizing: border-box;
    width: 60%;
    padding: 2em;
    margin-bottom: -8px;

    background-color: white;
}
.show-detail__body-images p {
    float: left;
    text-indent: 0 !important;
    margin-right: 1em;
}

.show-detail__body-images .video-wrapper {
    position: relative;
}

.show-detail__body-images img,
.show-detail__body-images iframe {
    max-height: 70px;
    outline: 1px solid var(--pink-color);
    max-width: 100px;
}
.show-detail__body-images img:hover {
    cursor: pointer;
    background-image: url("/images/damier.png");
    background-size: 10px;
}

.thumb-overlay {
    position: absolute;
    /*background-color: rgba(0, 255, 0, 0.5);*/
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.show-detail__body {
    box-sizing: border-box;
    padding: 8px 12px;
    padding-bottom: 2em;

    color: var(--primary-color);
    background-color: white;
}

/*FIXME: See if we can find a more appropriate class name `.photo` */
.show-detail__body .photo {
    float: left;
    overflow: hidden;
    display: none;

    height: auto;
    width: auto;
    margin-right: 1.375em;
    margin-bottom: 1.375em;

    cursor: n-resize;

    background-image: url("/images/damier.png");
    background-size: 10px;
}

.show-detail__body .photo img {
    width: 100%;
    max-width: 500px;
    outline: none !important;
}

.show-detail__body .photo iframe {
    width: 600px;
    height: 400px;

}


.show-detail__body blockquote + p,
.show-detail__body p + blockquote { margin-top: 1em; }

.show-detail__body blockquote { padding-left: 2em; }

.show-detail__body blockquote p {
    /* FIXME: !important should not be used */
    font-size: 1.3em !important;
    line-height: 1.25em;
}

.show-detail__body blockquote footer {
    font-family: 'Ume double stroke master expended fat';
    /* FIXME: !important should not be used */
    font-size: 1.3em !important;
}

.show-detail__body blockquote footer:before { content: "– "; }

.show-detail__body dl {
    margin-top: 1.3em;
    margin-bottom: 0.3em;
}

.show-detail__body h3 + dl { margin-top: .8em; }

.show-detail__body .production {
    text-indent: 0pt;

    font-family: 'Ume double stroke master expanded';
}

.show-detail__body .production + .production {
    margin-top: 0em;

    text-indent: 3em;
}



@media (--mobile) {
    .show-detail__header { border-bottom: 2px solid; }

    .show-detail__body-images { width: 100%; }
}

@media (--desktop) {
    .show-detail__header {
        float: left;

        width: 40%;
        height: 100vh;
        padding: 2rem;
    }

    .show-detail__body {
        float: left;

        width: 60%;
        padding: 8px 35px;
    }
}


/* ==========================================================================
   General pages
   ========================================================================== */


.page-detail { padding: 1em; }

.page-detail { color: var(--primary-color); }

/*.page-detail dl { column-width: 15em; }*/

.page-detail dt { font-family: 'Ume double stroke affiche saison'; }

.page-detail dd { break-before: avoid-column; }

.page-detail dt + dd { margin-right: 10px; }
/*.content dt:first-of-type { margin-left: 0px; }*/

.page-detail dd { break-inside: avoid-column; }

.page-detail p.sous-h2{
  font-size: 1em;
}
.page-detail h2#un-theatre-a-letat-pur{
  margin-bottom: 0em;
      margin-top: 0em;
}

h3#un-projet-ethique-pour-les-5-saisons-a-venir {
      margin-top: 2em;
}

.page-detail h2#tarifs + dl { column-width: 20em; }

.page-detail h2#tarifs + dl dd {
    display: block;

    padding-left: 12px;
}

.page-detail h2#tarifs + dl dd + dt { margin-top: 10px; }

.page-detail .no-display { display: none; }

.page-detail .sous-tarif {
    text-decoration: underline;

    border: 0px solid black;
}

.page-detail .footnotes {
}

.show-detail__body p.production, 
.page-detail .footnote p {
    font-size: .9em;
    line-height: 1.2em;
}
.page-detail .footnote ol li + li {
    margin-bottom: 1em;
    text-indent: 2em;
}
.page-detail .footnote ol li::before {
    content: " ";
}

.page-detail .footnote ol {
      column-width: 20em;
  }


.page-detail .translations a {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    padding: 0.5em; 
}

.page-detail .no-display { display: none; }

.page-detail img {
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.page-detail p + p img { margin-left: -3em; }

.page-detail h1 {
    width: 50%;

    /*text-align: center;*/
}

.page-detail p,
.page-detail ul {
    font-size: 25px;
    line-height: 30px;
}

/* .page-detail p { display: none; } */

@media (--mobile) {
    .section2 h2 ~ * { display: none; }

    .section2 h2:target ~ * { display: block; }
}

@media (--desktop) {
    .page-detail {
        max-width: 50em;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (--mobile) {
    .page-detail {
        max-width: 92%;
        margin-right: auto;
        margin-left: auto;
    }
}



/* ==========================================================================
   ???
   ========================================================================== */

/*  FIXME: decide what to do with `.content` */
/*  FIXME: Move `.show-detail` classes to the appropriate place */

.content h1 {
    margin-top: 0em;
    margin-bottom: 0.40740741em;

    font-family: 'Ume double stroke info pratique';
    font-size: 3.375em;
    line-height: 1em;
}

.content h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    /*line-height: 1.83333334em;*/
    letter-spacing: 0.03em;

    font-family: 'Ume double stroke info pratique';
    font-size: 1.5em;
}

.content.page-detail h3 {
    margin-top: 1em;
    /*margin-top: 1em;*/
    margin-bottom: 0em;

    /*text-decoration: underline;*/

    font-family: 'Ume double stroke info pratique';
    font-size: 1em;
    /*line-height: 1.83333333em;*/
}

.content.page-detail h3 a:hover,
.content.page-detail h3 a:focus {
    color: black;
    background: linear-gradient(to bottom, var(--yellow-color) 0%, var(--pink-color) 30%, var(--pink-color) 70%, var(--blue-color) 100%);
}

.content.page-detail h1 {
    margin-top: 1em;
    margin-left: -1em;
}

@media (--mobile) {
  .content.page-detail h1 {
      margin-left: 0em;
  }
}

.content h4 {
    margin-top: 1.375em;
    margin-bottom: 0em;

    font-size: 1em;
    line-height: 1.375em;
}

.content h5 {
    margin-top: 1.375em;
    margin-bottom: 0em;

    font-size: 1em;
    line-height: 1.375em;
}

.content a {
    /*margin-right: -1em;*/
    /*margin-left: -1em;*/
    /*padding: 0.2em 1em;*/

    border-radius: 1em;
}

.content a:hover,
.schedule__title a:hover {
    /*font-family: 'Ume double stroke master condensed';*/
    color: var(--pink-color);
}

.show-detail__body p {
    font-size: 1.9em;
    line-height: 1.1em;
}

.show-detail__body p.production {
    font-size: .9em;
    line-height: 1.2em;
}

.show-detail__body .section2 { /*padding-left: 5em;*/ }

.content p,
.content ul,
.content ol,
.content pre,
.content table,
.content blockquote {
    margin-top: 0em;
    margin-bottom: 0em;
}

.content p + p { text-indent: 1.5em; }

.content ul ul,
.content ol ol,
.content ul ol,
.content ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}

/* Let's make sure all's aligned */

.content a,
.content b,
.content i,
.content strong,
.content em,
.content small,
.content code { line-height: 0; }

.content sub,
.content sup {
    margin-left: 1px;

    font-size: 0.75em;
    line-height: 0;
}

.content sup { vertical-align: 0.45em; }

.content sub { vertical-align: -0.45em; }

.content dt {
    padding: 2px 8px;

    border: 1px solid black;
    border-radius: 16px;
    /*font-family: 'Ume double stroke master expanded fat';*/
    font-size: .9em;
}

.content dd {
    padding-left: 0em;

    font-family: 'Ume double stroke master expended fat';
}

.content li:before { content: "- "; }

.content pre {
    margin-top: 1em;
    padding: 1em;

    color: black;
    border: 1px solid var(--primary-color);
}

.content time {
    display: block;

    margin-left: 0em;
}

/* <<<<<<<<< */
/* <<<<<<<<< */





/* ==========================================================================
   Misc styles
   ========================================================================== */

/* Reservation link
   ========================================================================== */

/*  FIXME: Merge with `.schedule__booking` and use `--` modifier */

.reservation-link {
    display: inline-block;

    margin: 0.2em 1;
    margin-bottom: 21pt;
    /* FIXME: !important should not be used */
    padding: 0.8em !important;

    text-decoration: none;
    letter-spacing: 0.04em;

    font-size: 12pt;
}

a.reservation-link:hover {
    /* FIXME: !important should not be used */
    background-color: white !important;
}




/* ==========================================================================
   Slideshow
   ========================================================================== */


/*  FIXME: rename .jcarousel to something more elegant */

.jcarousel {
    position: relative;

    overflow: hidden;

    width: 100%;
}

.jcarousel__inner {
    position: relative;

    width: 10000%;
}

.jcarousel__item {
    float: left;

    width: 1%;
}

.jcarousel__item img { width: 100%; }

.jcarousel__item figcaption {
}

.jcarousel__controls {
    position: absolute;
    top: 50%;

    width: 100%;

    background-color: yellow;
}

.jcarousel__control-prev,
.jcarousel__control-next {
    position: absolute !important;
    top: -15px;

    display: block;

    width: 30px;
    height: 30px;
    box-sizing: border-box;

    padding-top: 15px;

    text-align: center;
    text-decoration: none;

    color: black;
    background-color: white;
    opacity: 0.75;
}

.jcarousel__control-prev:hover,
.jcarousel__control-next:hover {
    background-color: white;
    box-shadow: 3px 2px 6px 1px var(--primary-color);
    opacity: 1;
}

.jcarousel__control-prev { left: 10px; }

.jcarousel__control-next { right: 10px; }

.jcarousel__control-prev.inactive,
.jcarousel__control-next.inactive {
    cursor: default;

    opacity: .5;
}

.nojcarousel-item {
    opacity: 0.5;
    border-bottom: 1px dotted red;
}

.nojcarousel-item.active { opacity: 1; }

/* FIXME: !important should not be used */
.jcarousel__inner a { border: none !important; }

/* <<<<<<<<< */





/* Scrollbar Balsa theme
   ========================================================================== */

.ps--theme_balsa:hover > .ps__scrollbar-y-rail:hover { background-color: rgb(255, 255, 255); }

.ps--theme_balsa:hover > .ps__scrollbar-y-rail > .ps__scrollbar-y { background-color: var(--tertiary-color); }

.ps--theme_balsa:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y { background-color: var(--tertiary-color); }

/* .section2 { */
/*     max-height: 300px; */
/* } */


/* ==========================================================================
   HOME
   ========================================================================== */

#home .content div {
    width: 50%;
    padding: 0 1em;
    box-sizing: border-box;
    float: left;
}

#home .content div img {
    margin-left: 0;

}

#home .content div#edito {
    width: 100%;
    margin-top: 1em;
}
