/* Font faces */

@font-face {
    font-family: 'Ume Vertical Wide Bridge';
    src: url('../fonts/ume-vertical-wide-bridge-webfont.woff2') format('woff2'),
         url('../fonts/ume-vertical-wide-bridge-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ume Vertical Wide Oblique';
    src: url('../fonts/ume-vertical-wide-oblique-webfont.woff2') format('woff2'),
         url('../fonts/ume-vertical-wide-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ume P Gothic Balsa';
    src: url('../fonts/ume-p-gothic_balsa-webfont.woff2') format('woff2'),
         url('../fonts/ume-p-gothic_balsa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Extra resets */

a {
  text-decoration: inherit;
  color: inherit;
}


/* layout */

.main_header {
    position:fixed;
    top: 100vh;
    left: 0;

    box-sizing: border-box;
    padding-left: 40px;
    width: 100vh;
    height: 40px;
    outline: 2px solid blue;

    font-size: 14px;
    font-family: 'Ume Vertical Wide Bridge';
    line-height: 40px;

    transform: rotate(-90deg);
    transform-origin: top left;
    text-align: right;
    direction: rtl;
}

.logo {
    max-height: 34px;
    vertical-align: middle;
    padding-left: 10px;
}

/* mainmenu */

.main_nav,
.main_menu,
.main_menu li {
    display: inline;
}

.main_menu li + li:before {
    content: '\00B7\00A0';
}

.main_footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;

    outline: 2px solid blue;
}

.address {
    padding-right: 5px;
    box-sizing: border-box;
    text-align: right;
    font-size: 10px;
    line-height: 1;
    width: 100vw;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Ume Vertical Wide Bridge';
}

.address > span {
    display: block;
}

.address > span > span + span::before {
    content: '\00B7\00A0';
}


.main_content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 40px;
    left: 40px;
}

.show {
    position: relative;
}

@media only screen and (min-width: 480px) {
    .page-detail,
    .show-detail {
        width: 70%;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
    }
    .show {
        width: 30%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 40px;
        overflow: hidden;
        border-left: 2px solid blue;
        box-sizing: border-box;
    }

    .show-detail__header {
        width: 40%;
        float: left;
    }

    .show-detail__body {
        width: 60%;
        float: left;
    }
    .show__list {
        position: absolute;

    }
}


.show__list {
    padding-right: 30px;

}
.show__timeline {
    width: 30px;
    position: fixed;
    right: 0;
    top: 0;
    height: calc(100vh - 40px);
    background: linear-gradient(to bottom,  #1e5799 0%,#ff3232 25%,#ff328e 50%,#32c5ff 75%,#2989d8 100%,#207cca 100%,#7db9e8 100%);
}
.show__item {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 1em;

    font-size: 10px;
    line-height: 1.3;
    font-family: 'Ume Vertical Wide Bridge';

    color: blue;
}
.show__item + .show__item {
    border-top: 2px solid blue;
}
.show__header {}
.show__subhead {
    font-family: 'Ume Vertical Wide Bridge';
    line-height: 1;
    margin-bottom: .4em;
}
.show__dates {
    font-family: 'Ume P Gothic Balsa';
    font-size: 2em;
    line-height: 1;

    float: right;
}
.show__title {
    font-family: 'Ume Vertical Wide Bridge';
    font-size: 2em;
    line-height: 1;
}
.show__authors {
    font-family: 'Ume Vertical Wide Bridge';
    line-height: 1;
    margin-top: .4em;
    margin-bottom: .4em;
}
.show__main_image {
    text-align: right;
}
.show__main_image img {
    max-width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.show__body {
    display: none;
}
.show__body:target {
    display: block;
}
.show__body p + p,
.show__body blockquote + p,
.show__body p + blockquote {
    margin-top: 1em;
}
.show__body blockquote {
    padding-left: 2em;
}
.show__body blockquote footer:before {
    content: "– ";
}
.show__body dl {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    padding-left: 25%;
}
.show__body dd {
    padding-left: 1em;
}

/* timeline */

.timeline__year {
    text-align: right;
    transform: rotate(-90deg);
    transform-origin: top right;
    position: absolute;
    top: 0px;
    right: 30px;
    height: 30px;
    padding-right: .5em;
    line-height: 30px;
    font-size: 10px;
    font-family: 'Ume Vertical Wide Bridge';
}

.timeline__month {
    border-right: 1px solid black;
    text-align: right;
    transform: rotate(-90deg);
    transform-origin: top right;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    padding-right: .5em;
    line-height: 20px;
    padding-top: 10px;
    font-size: 10px;
    font-family: 'Ume Vertical Wide Bridge';
}

.timeline__point {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    right: 15px;
    background-color: white;
}


/* article detail */

.show-detail__header {
    color: blue;
    font-family: 'Ume Vertical Wide Bridge';
    border-right: 2px solid blue;
    box-sizing: border-box;
    height: 100vh;

    padding: 2rem;

    /* background-color: #e6e6e6; */
    /* z-index: -1; */
}

.show-detail__title {
    /* font-size: 42px; */
}

.show-detail__image img {
    max-width: 75%;
}

.show-detail__body {
    /* font-size: 10px; */
    /* line-height: 1.3; */
    font-family: 'Ume Vertical Wide Bridge';

    color: blue;

    box-sizing: border-box;
    padding: 2rem;
}

.show-detail__body p + p,
.show-detail__body blockquote + p,
.show-detail__body p + blockquote {
    margin-top: 1em;
}

.show-detail__body blockquote {
    padding-left: 2em;
}

.show-detail__body blockquote footer:before {
    content: "– ";
}

.show-detail__body dl {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    padding-left: 25%;
}

.show-detail__body dd {
    padding-left: 1em;
}


.page-detail {
    color: blue;
    /* font-size: 16px; */
    /* line-height: 1.3; */
    font-family: 'Ume Vertical Wide Bridge';
}

/* .page-detail h1 {
/*     font-size: 2em;
/* }

/* .page-detail h2 { */
/*     font-size: 1.5em; */
/*     margin-top: 1em; */
/* } */

/* .page-detail dd { */
/*     text-indent: 3em; */
/* } */

/* .page-detail dd + dt { */
/*     margin-top: 1em; */
/* } */

.page-detail dl {
    column-count: 3;
}

.page-detail img {
    max-width: 100%;

    margin-top: 1em;
    margin-bottom: 1em;
}

.page-detail p + p img {

    margin-left: -3em;

}

.page-detail p + p {
    /* text-indent: 3em; */
}


html, .root {
  font-size: 16px;
  line-height: 22px;
}
body, .body {
    font-family: 'Ume Vertical Wide Bridge';
  font-size: 1em;
  line-height: 1.375em;
  /* max-width: 560px; */
  /* margin: auto; */
}
.content h1, .h1 {
  font-size: 3.375em;
  line-height: 0.81481482em;
  margin-top: 0em;
  margin-bottom: 0.40740741em;
}
.content h2, .h2 {
  font-size: 1.5em;
  line-height: 1.83333334em;
  margin-top: 0.91666667em;
  margin-bottom: 0em;
}
.content h3, .h3 {
  font-size: 1.5em;
  line-height: 1.83333333em;
  margin-top: 0.91666667em;
  margin-bottom: 0em;
}
.content h4, .h4 {
  font-size: 1em;
  line-height: 1.375em;
  margin-top: 1.375em;
  margin-bottom: 0em;
}
.content h5, .h5 {
  font-size: 1em;
  line-height: 1.375em;
  margin-top: 1.375em;
  margin-bottom: 0em;
}
.content p, .content ul, .content ol, .content pre, .content table, .content blockquote {
  margin-top: 0em;
  margin-bottom: 0em;
}
.content p + p {
  text-indent: 3em;
}
.content ul ul, .content ol ol, .content ul ol, .content ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
.content hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
.content a, .content b, .content i, .content strong, .content em, .content small, .content code {
  line-height: 0;
}
.content sub, .content sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.content sup {
  top: -0.5em;
}
.content sub {
  bottom: -0.25em;
}


.content dd {
    padding-left: 3em;
}

.content dd + dt {
    /* margin-top: 1.375em; */
}

.content li:before {
    content: "- ";
}

.content pre {
	font-family: monospace;
	color: black;	
	border: 1px solid blue;
	padding: 1em;
	margin-top: 1em;
	
}

.content em {
    font-family: 'Ume Vertical Wide Oblique';
	
}

.content strong {
    font-weight: bold;
}
