/* line 5, ../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/lib/ruby/gems/2.4.0/gems/compass-1.0.3/vendor/bundle/ruby/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 102, balsa-css/sass/libs/_mixins.scss */
*[class*="colspan"] {
  width: 100%;
  display: block;
}

/* line 107, balsa-css/sass/libs/_mixins.scss */
*[class*="as-grid"] {
  float: left;
  display: inline;
  display: inline-block;
}

/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 *[class*="with-gutter"] {
  padding-left: 3%;
}
@media screen and (min-width: 420px) {
  /* line 113, balsa-css/sass/libs/_mixins.scss */
  *[class*="with-gutter"] {
    padding-left: 3%;
  }
}

/* line 13, balsa-css/sass/partials/_grid.scss */
.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 420px) {
  /* line 13, balsa-css/sass/partials/_grid.scss */
  .row {
    min-width: 420px;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan2-1 {
    width: 50%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan2-2 {
    width: 100%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push2-1 {
    margin-left: 50%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push2-2 {
    margin-left: 100%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull2-1 {
    margin-right: 50%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull2-2 {
    margin-right: 100%;
  }
  /* line 81, balsa-css/sass/libs/_mixins.scss */
  .row .push-disable2 {
    margin-left: 0;
  }
  /* line 84, balsa-css/sass/libs/_mixins.scss */
  .row .pull-disable2 {
    margin-right: 0;
  }
  /* line 87, balsa-css/sass/libs/_mixins.scss */
  .row .hide-at2 {
    display: none;
  }
  /* line 90, balsa-css/sass/libs/_mixins.scss */
  .row .block-show-at2 {
    display: block;
  }
  /* line 93, balsa-css/sass/libs/_mixins.scss */
  .row .inline-show-at2 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  /* line 13, balsa-css/sass/partials/_grid.scss */
  .row {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 600px;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan6-1 {
    width: 16.66667%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan6-2 {
    width: 33.33333%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan6-3 {
    width: 50%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan6-4 {
    width: 66.66667%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan6-5 {
    width: 83.33333%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan6-6 {
    width: 100%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push6-1 {
    margin-left: 16.66667%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push6-2 {
    margin-left: 33.33333%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push6-3 {
    margin-left: 50%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push6-4 {
    margin-left: 66.66667%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push6-5 {
    margin-left: 83.33333%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push6-6 {
    margin-left: 100%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull6-1 {
    margin-right: 16.66667%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull6-2 {
    margin-right: 33.33333%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull6-3 {
    margin-right: 50%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull6-4 {
    margin-right: 66.66667%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull6-5 {
    margin-right: 83.33333%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull6-6 {
    margin-right: 100%;
  }
  /* line 81, balsa-css/sass/libs/_mixins.scss */
  .row .push-disable6 {
    margin-left: 0;
  }
  /* line 84, balsa-css/sass/libs/_mixins.scss */
  .row .pull-disable6 {
    margin-right: 0;
  }
  /* line 87, balsa-css/sass/libs/_mixins.scss */
  .row .hide-at6 {
    display: none;
  }
  /* line 90, balsa-css/sass/libs/_mixins.scss */
  .row .block-show-at6 {
    display: block;
  }
  /* line 93, balsa-css/sass/libs/_mixins.scss */
  .row .inline-show-at6 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 900px) {
  /* line 13, balsa-css/sass/partials/_grid.scss */
  .row {
    min-width: 900px;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-1 {
    width: 12.5%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-2 {
    width: 25%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-3 {
    width: 37.5%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-4 {
    width: 50%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-5 {
    width: 62.5%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-6 {
    width: 75%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-7 {
    width: 87.5%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-8 {
    width: 100%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push8-1 {
    margin-left: 12.5%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push8-2 {
    margin-left: 25%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push8-3 {
    margin-left: 37.5%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push8-4 {
    margin-left: 50%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push8-5 {
    margin-left: 62.5%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push8-6 {
    margin-left: 75%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push8-7 {
    margin-left: 87.5%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push8-8 {
    margin-left: 100%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull8-1 {
    margin-right: 12.5%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull8-2 {
    margin-right: 25%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull8-3 {
    margin-right: 37.5%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull8-4 {
    margin-right: 50%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull8-5 {
    margin-right: 62.5%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull8-6 {
    margin-right: 75%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull8-7 {
    margin-right: 87.5%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull8-8 {
    margin-right: 100%;
  }
  /* line 81, balsa-css/sass/libs/_mixins.scss */
  .row .push-disable8 {
    margin-left: 0;
  }
  /* line 84, balsa-css/sass/libs/_mixins.scss */
  .row .pull-disable8 {
    margin-right: 0;
  }
  /* line 87, balsa-css/sass/libs/_mixins.scss */
  .row .hide-at8 {
    display: none;
  }
  /* line 90, balsa-css/sass/libs/_mixins.scss */
  .row .block-show-at8 {
    display: block;
  }
  /* line 93, balsa-css/sass/libs/_mixins.scss */
  .row .inline-show-at8 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1100px) {
  /* line 13, balsa-css/sass/partials/_grid.scss */
  .row {
    min-width: 1100px;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-1 {
    width: 8.33333%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-2 {
    width: 16.66667%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-3 {
    width: 25%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-4 {
    width: 33.33333%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-5 {
    width: 41.66667%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-6 {
    width: 50%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-7 {
    width: 58.33333%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-8 {
    width: 66.66667%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-9 {
    width: 75%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-10 {
    width: 83.33333%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-11 {
    width: 91.66667%;
  }
  /* line 67, balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-12 {
    width: 100%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push12-1 {
    margin-left: 8.33333%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push12-2 {
    margin-left: 16.66667%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push12-3 {
    margin-left: 25%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push12-4 {
    margin-left: 33.33333%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push12-5 {
    margin-left: 41.66667%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push12-6 {
    margin-left: 50%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push12-7 {
    margin-left: 58.33333%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push12-8 {
    margin-left: 66.66667%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push12-9 {
    margin-left: 75%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push12-10 {
    margin-left: 83.33333%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push12-11 {
    margin-left: 91.66667%;
  }
  /* line 72, balsa-css/sass/libs/_mixins.scss */
  .row .push12-12 {
    margin-left: 100%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull12-1 {
    margin-right: 8.33333%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull12-2 {
    margin-right: 16.66667%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull12-3 {
    margin-right: 25%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull12-4 {
    margin-right: 33.33333%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull12-5 {
    margin-right: 41.66667%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull12-6 {
    margin-right: 50%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull12-7 {
    margin-right: 58.33333%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull12-8 {
    margin-right: 66.66667%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull12-9 {
    margin-right: 75%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull12-10 {
    margin-right: 83.33333%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull12-11 {
    margin-right: 91.66667%;
  }
  /* line 77, balsa-css/sass/libs/_mixins.scss */
  .row .pull12-12 {
    margin-right: 100%;
  }
  /* line 81, balsa-css/sass/libs/_mixins.scss */
  .row .push-disable12 {
    margin-left: 0;
  }
  /* line 84, balsa-css/sass/libs/_mixins.scss */
  .row .pull-disable12 {
    margin-right: 0;
  }
  /* line 87, balsa-css/sass/libs/_mixins.scss */
  .row .hide-at12 {
    display: none;
  }
  /* line 90, balsa-css/sass/libs/_mixins.scss */
  .row .block-show-at12 {
    display: block;
  }
  /* line 93, balsa-css/sass/libs/_mixins.scss */
  .row .inline-show-at12 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1300px) {
  /* line 13, balsa-css/sass/partials/_grid.scss */
  .row {
    width: 1300px;
  }
}
/* line 41, balsa-css/sass/partials/_grid.scss */
.lt-ie9 .row {
  width: 980px;
}
/* line 67, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-1 {
  width: 8.33333%;
}
/* line 67, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-2 {
  width: 16.66667%;
}
/* line 67, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-3 {
  width: 25%;
}
/* line 67, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-4 {
  width: 33.33333%;
}
/* line 67, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-5 {
  width: 41.66667%;
}
/* line 67, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-6 {
  width: 50%;
}
/* line 67, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-7 {
  width: 58.33333%;
}
/* line 67, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-8 {
  width: 66.66667%;
}
/* line 67, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-9 {
  width: 75%;
}
/* line 67, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-10 {
  width: 83.33333%;
}
/* line 67, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-11 {
  width: 91.66667%;
}
/* line 67, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-12 {
  width: 100%;
}
/* line 72, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-1 {
  margin-left: 8.33333%;
}
/* line 72, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-2 {
  margin-left: 16.66667%;
}
/* line 72, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-3 {
  margin-left: 25%;
}
/* line 72, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-4 {
  margin-left: 33.33333%;
}
/* line 72, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-5 {
  margin-left: 41.66667%;
}
/* line 72, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-6 {
  margin-left: 50%;
}
/* line 72, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-7 {
  margin-left: 58.33333%;
}
/* line 72, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-8 {
  margin-left: 66.66667%;
}
/* line 72, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-9 {
  margin-left: 75%;
}
/* line 72, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-10 {
  margin-left: 83.33333%;
}
/* line 72, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-11 {
  margin-left: 91.66667%;
}
/* line 72, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-12 {
  margin-left: 100%;
}
/* line 77, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-1 {
  margin-right: 8.33333%;
}
/* line 77, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-2 {
  margin-right: 16.66667%;
}
/* line 77, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-3 {
  margin-right: 25%;
}
/* line 77, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-4 {
  margin-right: 33.33333%;
}
/* line 77, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-5 {
  margin-right: 41.66667%;
}
/* line 77, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-6 {
  margin-right: 50%;
}
/* line 77, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-7 {
  margin-right: 58.33333%;
}
/* line 77, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-8 {
  margin-right: 66.66667%;
}
/* line 77, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-9 {
  margin-right: 75%;
}
/* line 77, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-10 {
  margin-right: 83.33333%;
}
/* line 77, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-11 {
  margin-right: 91.66667%;
}
/* line 77, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-12 {
  margin-right: 100%;
}
/* line 81, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push-disable12 {
  margin-left: 0;
}
/* line 84, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull-disable12 {
  margin-right: 0;
}
/* line 87, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .hide-at12 {
  display: none;
}
/* line 90, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .block-show-at12 {
  display: block;
}
/* line 93, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .inline-show-at12 {
  display: inline;
  display: inline-block;
}

/* line 49, balsa-css/sass/partials/_grid.scss */
.row__colspaced {
  position: relative;
}
/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row__colspaced {
  min-width: 103%;
  left: -3%;
}
@media screen and (min-width: 420px) {
  /* line 49, balsa-css/sass/partials/_grid.scss */
  .row__colspaced {
    min-width: 103%;
    left: -3%;
  }
}
/* line 55, balsa-css/sass/partials/_grid.scss */
.lt-ie9 .row__colspaced {
  max-width: 100%;
  min-width: auto;
  left: auto;
}

/* line 1, balsa-css/sass/partials/_typography.scss */
html {
  font-family: ume_p_gothic_balsaregular;
}

@font-face {
  font-family: 'ume_p_gothic_balsaregular';
  src: url("../fonts/ume-p-gothic_balsa-webfont.woff2") format("woff2"), url("../fonts/ume-p-gothic_balsa-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ume_p_gothic_verticalregular';
  src: url("../fonts/ume-p-gothic-vertical-webfont.woff2") format("woff2"), url("../fonts/ume-p-gothic-vertical-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ume_vertical_wideregular';
  src: url("../fonts/ume-vertical-wide-webfont.woff2") format("woff2"), url("../fonts/ume-vertical-wide-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ume_vertical_wide-bridgeRg';
  src: url("../fonts/ume-vertical-wide-bridge-webfont.woff2") format("woff2"), url("../fonts/ume-vertical-wide-bridge-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ume_vertical_wideregular';
  src: url("../fonts/ume-vertical-wide-oblique-webfont.woff2") format("woff2"), url("../fonts/ume-vertical-wide-oblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 41, balsa-css/sass/partials/_typography.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 46, balsa-css/sass/partials/_typography.scss */
p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 16px;
}

/* line 50, balsa-css/sass/partials/_typography.scss */
h1 {
  font-size: 42px;
  font-family: ume_p_gothic_verticalregular;
}

/* line 55, balsa-css/sass/partials/_typography.scss */
h2 {
  font-size: 32px;
  font-family: ume_p_gothic_verticalregular;
}

/* line 60, balsa-css/sass/partials/_typography.scss */
h3 {
  font-size: 28px;
}

/* line 64, balsa-css/sass/partials/_typography.scss */
h4 {
  font-size: 26px;
}

/* line 68, balsa-css/sass/partials/_typography.scss */
h5 {
  font-size: 24px;
}

/* line 72, balsa-css/sass/partials/_typography.scss */
h6 {
  font-size: 20px;
}

/* line 1, balsa-css/sass/partials/_menus.scss */
div.menu-space {
  position: fixed;
  background-color: white;
  width: 48px;
  height: 100%;
  outline: 1px solid blue;
}
/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 div.menu-space {
  position: fixed;
  transform: none;
  width: 100%;
  width: 75%;
  height: 64px;
  padding-top: 16px;
}
@media screen and (min-width: 600px) {
  /* line 1, balsa-css/sass/partials/_menus.scss */
  div.menu-space {
    position: fixed;
    transform: none;
    width: 100%;
    width: 75%;
    height: 64px;
    padding-top: 16px;
  }
}
/* line 16, balsa-css/sass/partials/_menus.scss */
div.menu-space header#banner {
  transform: rotate(-90deg);
  margin-top: 80px;
}
/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 div.menu-space header#banner {
  margin-top: 0;
  transform: none;
  position: relative;
  width: auto;
  float: left;
  padding-left: 96px;
}
@media screen and (min-width: 600px) {
  /* line 16, balsa-css/sass/partials/_menus.scss */
  div.menu-space header#banner {
    margin-top: 0;
    transform: none;
    position: relative;
    width: auto;
    float: left;
    padding-left: 96px;
  }
}
/* line 27, balsa-css/sass/partials/_menus.scss */
div.menu-space header#banner img.nav-logo {
  width: 13vh;
}
/* line 30, balsa-css/sass/partials/_menus.scss */
div.menu-space header#banner h1 {
  font-size: 32px;
}
/* line 34, balsa-css/sass/partials/_menus.scss */
div.menu-space nav#menu {
  top: 200px;
  left: 0;
  height: 100vh;
}
/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 div.menu-space nav#menu {
  height: auto;
  top: 16px;
  position: relative;
  height: auto;
}
@media screen and (min-width: 600px) {
  /* line 34, balsa-css/sass/partials/_menus.scss */
  div.menu-space nav#menu {
    height: auto;
    top: 16px;
    position: relative;
    height: auto;
  }
}
/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 div.menu-space nav#menu ul.mainnav {
  margin-top: 0;
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 600px) {
  /* line 44, balsa-css/sass/partials/_menus.scss */
  div.menu-space nav#menu ul.mainnav {
    margin-top: 0;
    position: relative;
    display: inline-block;
  }
}
/* line 52, balsa-css/sass/partials/_menus.scss */
div.menu-space nav#menu li {
  margin-top: 12vh;
  transform: rotate(-90deg);
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
}
/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 div.menu-space nav#menu li {
  transform: none;
  position: relative;
  margin-top: 0;
  margin-left: 75px;
}
@media screen and (min-width: 600px) {
  /* line 52, balsa-css/sass/partials/_menus.scss */
  div.menu-space nav#menu li {
    transform: none;
    position: relative;
    margin-top: 0;
    margin-left: 75px;
  }
}

/* line 70, balsa-css/sass/partials/_menus.scss */
div.secondary-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  outline: 1px solid blue;
  float: left;
  width: 100%;
  height: 10vh;
  background-color: white;
  float: left;
}
/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 div.secondary-nav {
  position: fixed;
  z-index: -9999;
  padding-top: 96px;
  bottom: none;
  top: 0;
  width: 48px;
  height: 100vh;
}
@media screen and (min-width: 600px) {
  /* line 70, balsa-css/sass/partials/_menus.scss */
  div.secondary-nav {
    position: fixed;
    z-index: -9999;
    padding-top: 96px;
    bottom: none;
    top: 0;
    width: 48px;
    height: 100vh;
  }
}
/* line 89, balsa-css/sass/partials/_menus.scss */
div.secondary-nav nav#secondary-menu {
  bottom: 16px;
}
/* line 91, balsa-css/sass/partials/_menus.scss */
div.secondary-nav nav#secondary-menu ul.second-nav {
  text-align: center;
}
/* line 93, balsa-css/sass/partials/_menus.scss */
div.secondary-nav nav#secondary-menu ul.second-nav li {
  display: inline-block;
  padding: 16px;
  font-size: 6px;
  max-width: 10px;
}

/* line 1, balsa-css/sass/partials/_home.scss */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
/* line 5, balsa-css/sass/partials/_home.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
/* line 10, balsa-css/sass/partials/_home.scss */
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* line 16, balsa-css/sass/partials/_home.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}

/* line 1, balsa-css/sass/partials/_indexes.scss */
ol#event-list {
  right: 0;
  min-height: 110vh;
  outline: 1px solid blue;
  word-break: break-all;
}
/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 ol#event-list {
  width: 25%;
  position: absolute;
}
@media screen and (min-width: 600px) {
  /* line 1, balsa-css/sass/partials/_indexes.scss */
  ol#event-list {
    width: 25%;
    position: absolute;
  }
}
/* line 10, balsa-css/sass/partials/_indexes.scss */
ol#event-list li {
  border-bottom: 1px solid blue;
}
/* line 13, balsa-css/sass/partials/_indexes.scss */
ol#event-list li article.entry {
  min-height: 160px;
  max-width: 100%;
  margin-left: 64px;
}
/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 ol#event-list li article.entry {
  margin-left: 0;
  width: 100%;
}
@media screen and (min-width: 600px) {
  /* line 13, balsa-css/sass/partials/_indexes.scss */
  ol#event-list li article.entry {
    margin-left: 0;
    width: 100%;
  }
}
/* line 23, balsa-css/sass/partials/_indexes.scss */
ol#event-list li article.entry div.expanded-content {
  display: none;
}
/* line 26, balsa-css/sass/partials/_indexes.scss */
ol#event-list li article.entry div.expanded-content.visible {
  display: block;
}
/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 ol#event-list li article.entry a.expand-content {
  display: none;
}
@media screen and (min-width: 600px) {
  /* line 29, balsa-css/sass/partials/_indexes.scss */
  ol#event-list li article.entry a.expand-content {
    display: none;
  }
}

/* line 3, balsa-css/sass/partials/_article.scss */
div.central-content {
  visibility: hidden;
  position: absolute;
  position: fixed;
  top: 80px;
  width: calc(75% - 48px);
  margin-left: 48px;
}
/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 div.central-content {
  visibility: visible;
}
@media screen and (min-width: 600px) {
  /* line 3, balsa-css/sass/partials/_article.scss */
  div.central-content {
    visibility: visible;
  }
}
/* line 14, balsa-css/sass/partials/_article.scss */
div.central-content section#content.article-body {
  padding: 32px;
}
/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 div.central-content div.hooks, .lt-ie9 div.central-content div.entry-content {
  width: 45%;
  float: left;
  margin-left: 2%;
  max-height: 70vh;
}
@media screen and (min-width: 600px) {
  /* line 17, balsa-css/sass/partials/_article.scss */
  div.central-content div.hooks, div.central-content div.entry-content {
    width: 45%;
    float: left;
    margin-left: 2%;
    max-height: 70vh;
  }
}
/* line 9, balsa-css/sass/libs/_mixins.scss */
.lt-ie9 div.central-content div.entry-content {
  overflow-y: scroll;
}
@media screen and (min-width: 600px) {
  /* line 25, balsa-css/sass/partials/_article.scss */
  div.central-content div.entry-content {
    overflow-y: scroll;
  }
}
