/* line 5, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, css/balsa-css/sass/partials/_typography.scss */
a {
  color: blue;
  letter-spacing: 4px;
}

/* line 102, css/balsa-css/sass/libs/_mixins.scss */
*[class*="colspan"] {
  width: 100%;
  display: block;
}

/* line 107, css/balsa-css/sass/libs/_mixins.scss */
*[class*="as-grid"] {
  float: left;
  display: inline;
  display: inline-block;
}

/* line 9, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 *[class*="with-gutter"] {
  padding-left: 3%;
}
@media screen and (min-width: 420px) {
  /* line 113, css/balsa-css/sass/libs/_mixins.scss */
  *[class*="with-gutter"] {
    padding-left: 3%;
  }
}

/* line 13, css/balsa-css/sass/partials/_grid.scss */
.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 420px) {
  /* line 13, css/balsa-css/sass/partials/_grid.scss */
  .row {
    min-width: 420px;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan2-1 {
    width: 50%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan2-2 {
    width: 100%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push2-1 {
    margin-left: 50%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push2-2 {
    margin-left: 100%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull2-1 {
    margin-right: 50%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull2-2 {
    margin-right: 100%;
  }
  /* line 81, css/balsa-css/sass/libs/_mixins.scss */
  .row .push-disable2 {
    margin-left: 0;
  }
  /* line 84, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull-disable2 {
    margin-right: 0;
  }
  /* line 87, css/balsa-css/sass/libs/_mixins.scss */
  .row .hide-at2 {
    display: none;
  }
  /* line 90, css/balsa-css/sass/libs/_mixins.scss */
  .row .block-show-at2 {
    display: block;
  }
  /* line 93, css/balsa-css/sass/libs/_mixins.scss */
  .row .inline-show-at2 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  /* line 13, css/balsa-css/sass/partials/_grid.scss */
  .row {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 600px;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan6-1 {
    width: 16.66667%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan6-2 {
    width: 33.33333%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan6-3 {
    width: 50%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan6-4 {
    width: 66.66667%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan6-5 {
    width: 83.33333%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan6-6 {
    width: 100%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push6-1 {
    margin-left: 16.66667%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push6-2 {
    margin-left: 33.33333%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push6-3 {
    margin-left: 50%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push6-4 {
    margin-left: 66.66667%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push6-5 {
    margin-left: 83.33333%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push6-6 {
    margin-left: 100%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull6-1 {
    margin-right: 16.66667%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull6-2 {
    margin-right: 33.33333%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull6-3 {
    margin-right: 50%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull6-4 {
    margin-right: 66.66667%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull6-5 {
    margin-right: 83.33333%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull6-6 {
    margin-right: 100%;
  }
  /* line 81, css/balsa-css/sass/libs/_mixins.scss */
  .row .push-disable6 {
    margin-left: 0;
  }
  /* line 84, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull-disable6 {
    margin-right: 0;
  }
  /* line 87, css/balsa-css/sass/libs/_mixins.scss */
  .row .hide-at6 {
    display: none;
  }
  /* line 90, css/balsa-css/sass/libs/_mixins.scss */
  .row .block-show-at6 {
    display: block;
  }
  /* line 93, css/balsa-css/sass/libs/_mixins.scss */
  .row .inline-show-at6 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 900px) {
  /* line 13, css/balsa-css/sass/partials/_grid.scss */
  .row {
    min-width: 900px;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-1 {
    width: 12.5%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-2 {
    width: 25%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-3 {
    width: 37.5%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-4 {
    width: 50%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-5 {
    width: 62.5%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-6 {
    width: 75%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-7 {
    width: 87.5%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan8-8 {
    width: 100%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push8-1 {
    margin-left: 12.5%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push8-2 {
    margin-left: 25%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push8-3 {
    margin-left: 37.5%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push8-4 {
    margin-left: 50%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push8-5 {
    margin-left: 62.5%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push8-6 {
    margin-left: 75%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push8-7 {
    margin-left: 87.5%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push8-8 {
    margin-left: 100%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull8-1 {
    margin-right: 12.5%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull8-2 {
    margin-right: 25%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull8-3 {
    margin-right: 37.5%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull8-4 {
    margin-right: 50%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull8-5 {
    margin-right: 62.5%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull8-6 {
    margin-right: 75%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull8-7 {
    margin-right: 87.5%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull8-8 {
    margin-right: 100%;
  }
  /* line 81, css/balsa-css/sass/libs/_mixins.scss */
  .row .push-disable8 {
    margin-left: 0;
  }
  /* line 84, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull-disable8 {
    margin-right: 0;
  }
  /* line 87, css/balsa-css/sass/libs/_mixins.scss */
  .row .hide-at8 {
    display: none;
  }
  /* line 90, css/balsa-css/sass/libs/_mixins.scss */
  .row .block-show-at8 {
    display: block;
  }
  /* line 93, css/balsa-css/sass/libs/_mixins.scss */
  .row .inline-show-at8 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1100px) {
  /* line 13, css/balsa-css/sass/partials/_grid.scss */
  .row {
    min-width: 1100px;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-1 {
    width: 8.33333%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-2 {
    width: 16.66667%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-3 {
    width: 25%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-4 {
    width: 33.33333%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-5 {
    width: 41.66667%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-6 {
    width: 50%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-7 {
    width: 58.33333%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-8 {
    width: 66.66667%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-9 {
    width: 75%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-10 {
    width: 83.33333%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-11 {
    width: 91.66667%;
  }
  /* line 67, css/balsa-css/sass/libs/_mixins.scss */
  .row .colspan12-12 {
    width: 100%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push12-1 {
    margin-left: 8.33333%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push12-2 {
    margin-left: 16.66667%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push12-3 {
    margin-left: 25%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push12-4 {
    margin-left: 33.33333%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push12-5 {
    margin-left: 41.66667%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push12-6 {
    margin-left: 50%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push12-7 {
    margin-left: 58.33333%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push12-8 {
    margin-left: 66.66667%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push12-9 {
    margin-left: 75%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push12-10 {
    margin-left: 83.33333%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push12-11 {
    margin-left: 91.66667%;
  }
  /* line 72, css/balsa-css/sass/libs/_mixins.scss */
  .row .push12-12 {
    margin-left: 100%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull12-1 {
    margin-right: 8.33333%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull12-2 {
    margin-right: 16.66667%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull12-3 {
    margin-right: 25%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull12-4 {
    margin-right: 33.33333%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull12-5 {
    margin-right: 41.66667%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull12-6 {
    margin-right: 50%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull12-7 {
    margin-right: 58.33333%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull12-8 {
    margin-right: 66.66667%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull12-9 {
    margin-right: 75%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull12-10 {
    margin-right: 83.33333%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull12-11 {
    margin-right: 91.66667%;
  }
  /* line 77, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull12-12 {
    margin-right: 100%;
  }
  /* line 81, css/balsa-css/sass/libs/_mixins.scss */
  .row .push-disable12 {
    margin-left: 0;
  }
  /* line 84, css/balsa-css/sass/libs/_mixins.scss */
  .row .pull-disable12 {
    margin-right: 0;
  }
  /* line 87, css/balsa-css/sass/libs/_mixins.scss */
  .row .hide-at12 {
    display: none;
  }
  /* line 90, css/balsa-css/sass/libs/_mixins.scss */
  .row .block-show-at12 {
    display: block;
  }
  /* line 93, css/balsa-css/sass/libs/_mixins.scss */
  .row .inline-show-at12 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1300px) {
  /* line 13, css/balsa-css/sass/partials/_grid.scss */
  .row {
    width: 1300px;
  }
}
/* line 41, css/balsa-css/sass/partials/_grid.scss */
.lt-ie9 .row {
  width: 980px;
}
/* line 67, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-1 {
  width: 8.33333%;
}
/* line 67, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-2 {
  width: 16.66667%;
}
/* line 67, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-3 {
  width: 25%;
}
/* line 67, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-4 {
  width: 33.33333%;
}
/* line 67, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-5 {
  width: 41.66667%;
}
/* line 67, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-6 {
  width: 50%;
}
/* line 67, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-7 {
  width: 58.33333%;
}
/* line 67, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-8 {
  width: 66.66667%;
}
/* line 67, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-9 {
  width: 75%;
}
/* line 67, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-10 {
  width: 83.33333%;
}
/* line 67, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-11 {
  width: 91.66667%;
}
/* line 67, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .colspan12-12 {
  width: 100%;
}
/* line 72, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-1 {
  margin-left: 8.33333%;
}
/* line 72, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-2 {
  margin-left: 16.66667%;
}
/* line 72, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-3 {
  margin-left: 25%;
}
/* line 72, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-4 {
  margin-left: 33.33333%;
}
/* line 72, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-5 {
  margin-left: 41.66667%;
}
/* line 72, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-6 {
  margin-left: 50%;
}
/* line 72, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-7 {
  margin-left: 58.33333%;
}
/* line 72, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-8 {
  margin-left: 66.66667%;
}
/* line 72, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-9 {
  margin-left: 75%;
}
/* line 72, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-10 {
  margin-left: 83.33333%;
}
/* line 72, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-11 {
  margin-left: 91.66667%;
}
/* line 72, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push12-12 {
  margin-left: 100%;
}
/* line 77, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-1 {
  margin-right: 8.33333%;
}
/* line 77, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-2 {
  margin-right: 16.66667%;
}
/* line 77, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-3 {
  margin-right: 25%;
}
/* line 77, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-4 {
  margin-right: 33.33333%;
}
/* line 77, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-5 {
  margin-right: 41.66667%;
}
/* line 77, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-6 {
  margin-right: 50%;
}
/* line 77, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-7 {
  margin-right: 58.33333%;
}
/* line 77, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-8 {
  margin-right: 66.66667%;
}
/* line 77, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-9 {
  margin-right: 75%;
}
/* line 77, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-10 {
  margin-right: 83.33333%;
}
/* line 77, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-11 {
  margin-right: 91.66667%;
}
/* line 77, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull12-12 {
  margin-right: 100%;
}
/* line 81, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .push-disable12 {
  margin-left: 0;
}
/* line 84, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .pull-disable12 {
  margin-right: 0;
}
/* line 87, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .hide-at12 {
  display: none;
}
/* line 90, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .block-show-at12 {
  display: block;
}
/* line 93, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row .inline-show-at12 {
  display: inline;
  display: inline-block;
}

/* line 49, css/balsa-css/sass/partials/_grid.scss */
.row__colspaced {
  position: relative;
}
/* line 9, css/balsa-css/sass/libs/_mixins.scss */
.lt-ie9 .row__colspaced {
  min-width: 103%;
  left: -3%;
}
@media screen and (min-width: 420px) {
  /* line 49, css/balsa-css/sass/partials/_grid.scss */
  .row__colspaced {
    min-width: 103%;
    left: -3%;
  }
}
/* line 55, css/balsa-css/sass/partials/_grid.scss */
.lt-ie9 .row__colspaced {
  max-width: 100%;
  min-width: auto;
  left: auto;
}
